body {
  padding-top: 125px;
  font-family: メイリオ, Meiryo;
  text-align: center;
  color: #585858;
}

h1 {
  font-size: 80px;
}

.registerForm {
  margin: 30px 0;
}

.formLabel {
  color: #424242;
  margin-left: 15px;
  margin-right: 5px;
}

#startGame, #addWord {
  margin-left: 35px;
}

.listCon {
  display: inline-block;
  margin: 0 30px;
}

h4 {
  font-size: 25px;
}

.list {
  text-align: left;
  list-style: none;
}

.list li {
  margin-bottom: 30px;
  font-size: 20px;
}

#meaning {
  color: #A4A4A4;
  font-size: 35px;
  letter-spacing: 4px;
}

#target {
  margin-top: -30px;
  font-size: 75px;
  letter-spacing: 4px;
}

.info {
  margin-top: -30px;
  font-size: 25px;
}

.info span {
  font-weight: bold;
  color: #81BEF7;
  margin: 0 10px;
}

.info>.tens {
  color: #FC9892;
}

.btn {
  margin-top: 100px;
  margin-bottom: 200px;
}

.link {
  margin: 40px 0;
  color: #58ACFA;
  text-decoration: underline;
  cursor: pointer;
}

a {
  text-decoration: underline;
  color: #58ACFA;
}

h2 {
  margin-top: -30px;
  font-size: 60px;
}

.resultCon {
  display: inline-block;
  margin: 30px 15px;
  width: 220px;
  height: 110px;
  background: #F2F2F2;
}

.resultCon p {
  display: inline-block;
  margin-top: -10px;
  margin-right: 4px;
  color: #FA5858;
  font-size: 20px;
  font-weight: bold;
}