body {
  padding-top: 120px;
  font-family: メイリオ, Meiryo;
  text-align: center;
}

#target {
  font-size: 50px;
  letter-spacing: 3px;
}

.info {
  font-size: 20px;
  color: #CCDFFA;
}

.info span {
  margin: 0 10px;
}

.info>.tens {
  color: #FC9892;
}

.btn {
  margin-top: 100px;
}